/* Start Variables */
:root {
    --main-color: #0b7a6f;
    --secondary-color: #aaa;
    --section-padding: 60px;
    --section-background: #333;
    --main-duration: 0.5s;
  }
  /* End Variables */
  /* Start Global Rules */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Work Sans", sans-serif;
    background-color: #444;
  }

  .container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
  }
  /* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */
  /* start components */
  .special-heading {
    color: #777;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
  }
  .special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: var(--secondary-color);
  }
  @media (max-width: 767px){
    .special-heading {
      font-size: 60px; 
    }
    .special-heading + p{
      margin-top: -20px;
    }
  }
  /* End components */

  .header {
    padding: 20px;
    background-color: var(--section-background);
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .logo {
    width: 60px;
  }
  .header .links {
    position: relative;
  }
  .header .links:hover .icon span:nth-child(2) {
    width: 100%;
  }
  .header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .header .links .icon span {
    background-color: var(--main-color);
    margin-bottom: 5px;
    height: 2px;
  }
  .header .links .icon span:first-child {
    width: 100%;
  }
  .header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
  }
  .header .links .icon span:last-child {
    width: 100%;
  }
  .header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
  }
  .header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--section-background) transparent;
    position: absolute;
    right: 5px;
    top: -20px;
  }

  .header .links:hover ul {
    display: block;
  }

  .header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: var(--text-color);
    transition: 0.3s;
  }

  .header .links ul li a:hover{
    padding-left: 25px;
  }

  .header .links ul li:not(:last-child) a {
    border-bottom: 1px solid var(--section-background);
  }
  
  /* Start Landing Section */
  .landing {
    
    background-image: url(../images/Landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vb - 64px);
    position: relative;
  }

  .landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);   
    width: 320px;
    max-width: 100%;
  }

  .landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color:var(--main-color);
  }

  .landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
  }
  /* <-- Start Features Section --> */
  .features{
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    color: var(--main-color);
  }
  .features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  .features .feat{
    padding: 20px;
    text-align: center;
  }

  .features .feat i {
    color: var(--main-color);
  }

  .features .feat h3{
    font-weight: 800;
    margin: 30px 0;
    
  }
  .features .feat p{
    line-height: 1.8;
    color: var(--section-background);
    font-size: 17px;
    color: white;

  }
  /* <!-- End Features Section --> */
  /* <!-- Start Services --> */
  .services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }
  .services .services-content .serv i{
    color: var(--main-color);
    flex-basis: 60px;
   }
   .services .services-content .serv .text{
    flex: 1;
   }
   .services .services-content h3{
    color: var(--main-color);
    margin: 0 0 20px;
   }

   .services .services-content p{
    color: white;
    line-height: 1.8;
    font-weight: 300;
   }

  .services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
  }

  .services .services-content .serv {
    display: flex;
    margin-bottom: 40px;
  }

  .services .services-content .image{
    text-align: center;
    position: relative;
  }
  .services .services-content .image img{
    width: 260px;
    height: 50%;
  }


  .services .services-content .image::before{
    content: '';
    position: absolute;
    background-color: var(--main-color);
    width: 80px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;
  }
  @media (max-width: 767px){
    .services .services-content .serv{
      flex-direction: column;
      text-align: center;
    }

  }
@media  (max-width: 1199px){
  .image-column {
    display: none;
  }
}
  /* <!-- End Services --> */

  /* <!-- Start Portfolio --> */
  .portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #333;
  }

  .portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
  }

  .portfolio .portfolio-content h3{
    color: var(--main-color);
    margin: 0 0 20px;

  }
  .portfolio .portfolio-content p{
    color: white;
    line-height: 1.8;
    font-weight: 300;
  }
  .portfolio .portfolio-content .card{
    background-color: #3d4145;
  }
  .portfolio .portfolio-content .card img{
    width: 100%;

  }
  .portfolio .portfolio-content .card .info{
    padding: 20px;
  }
  .portfolio .portfolio-content .card .info h3{
    text-align: center;
    margin: 0;
  }
  .portfolio .portfolio-content .card .info p{
    margin-bottom: 0;
    line-height: 1.8;
    font-weight: 300;
  }
  /* Start About */
  .about{
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);

  }

  .about .about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  @media (max-width: 991px){
    .about .about-content{
      flex-direction: column;
      text-align: center;

    }
  }

  .about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;

  }
  .about .about-content .image::before{
    content: '';
    position: absolute;
    background-color: var(--section-background);
    height: calc(350px + 85px);
    top: -50px;
    left: -20px;
    z-index: -1;
    width: 100px;
  }
  
  .about .about-content .image::after{
    top: -40px;
    content: '';
    position: absolute;
    width: 120px;
    height: 350px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
    margin-top: -10px;
  }

  /* @media (max-width: 991px){
    .about .about-content .image::before,
    .about .about-content .image::after{
    }
  } */

  .about .about-content .image img{
    max-width: 100%;
  }

  .about .about-content .text{
    flex-basis: calc(100% - 500px);
  }
  .about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
    color: white;
  }
  .about .about-content .text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);

  }
  .about .about-content .text p:last-of-type{
    line-height: 2;
    color: var(--section-background);
    color: #aaa;
  }

  /* <!-- Start Contact --> */
  .contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
  }
  .contact .info{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
  }
  .contact .info .label{
    font-size: 40px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2;
    margin-bottom: 15px;
  }
  .contact .info .link{
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
  }
  .contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
    color: var(--secondary-color);
  }
  .contact .info .social a{
    text-decoration: none;
    color: currentColor;
    margin-left: 10px;
    color: var(--main-color);
  }
  .footer{
    background-color: #444;
    color: var(--secondary-color);
   display: flex;
   justify-content: center;
   letter-spacing: -2;
   padding: 30px 10px;
   text-align: center;
   font-size: 18px;
  }
  .footer span{
    font-weight: bold;
    color: var(--main-color);
  }
  @media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
      font-size: 15px;
    }
  }